@import './../vendors/normalize-css/normalize';
@import './../vendors/bourbon/app/assets/stylesheets/bourbon';
@import './../vendors/neat/app/assets/stylesheets/neat';
@import './../vendors/reveal.js/css/reveal.scss';
@import './../vendors/reveal.js/css/theme/template/mixins';
@import './../vendors/reveal.js/css/theme/template/settings';
@import 'predefined';
@import './../vendors/jquery-selectric/public/selectric.css';
@import 'checkbox';

@include font-face('skinnycaps', './../font/skinnycaps-webfont');

$backgroundColor: #FFF;
$mainColor: #222;
$headingColor: #222;
$mainFontSize: 38px;
$mainFont: Helvetica, sans-serif;
$headingFont: Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #2a76dd;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );
$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

@import './../vendors/reveal.js/css/theme/template/theme';

.smooth {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #FFF;
	}
}

.reveal {
  background-color: $backgroundColor;
	@include transition(background 500ms ease);

  .backgrounds {
    @include transition(background 500ms ease);

    &.dark {
      background-color: #000;
    }
  }

  .slides > section {
    padding: 0;

    [data-autoplay] {
      background-color: #000;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}

.page-num {
  display: none;
}

.play-btn {
  border: 0 none;
	outline: 0;
}

.popup_background {
	@include transition(all 0.3s 0.3s);
}

#intro-form, #pledge-name-form {
  left: 50%;
  position: absolute !important;
  top: 50%;

  &.center {
    @include transform(translate(-50%, -50%) !important);
  }
}

#intro-form, #pledge-name-form, .popup_wrapper {
	@include transition(all 0.3s ease-out);
}

#intro-form {
	background: transparent url(../images/popup-bg.png) no-repeat;
	background-size: 100%;
	height: 644px;
	width: 1000px;
	padding: 45px 60px;
  @include transform(translateX(0) translateY(-40%));

	form {
		@include clearfix();
		height: 100%;
		width: 100%;
	}

	fieldset {
		border: 0 none;
		margin: 0;
		padding: 0;
	}

	button {
		background-color: #A3CD83;
		border: 0 none;
		border-radius: 10px;
		color: #FFF;
		float: right;
		font-size: 30px;
		padding: 20px 35px;

    &:disabled {
      background-color: #BDE79D;
    }
	}

	.field {
		float: left;
		padding: 15px;
		width: 50%;

		label span {
			font-size: 10px;
      float: right;
			margin-top: 3px;
		}

		input, select{
			border: 1px solid #5785AB;
			border-radius: 3px;
			color: #222222;
			display: block;
			font-size: 18px;
			padding: 10px;
			width: 100%;
		}
	}

	.field-group {
		clear: both;

		&:last-child {
			padding: 15px;

			label {
				font-size: 14px;

				& > div {
					border-radius: 2px;
					margin-right: 5px;
				}
			}
		}
	}

	label {
		color: #5785AB;
		font-size: 18px;
		position: relative;
	}

	.selectric-wrapper {
		.selectric {
			background-color: $backgroundColor;
			border-color: #7DB2DB;
			border-radius: 3px;
		}

		.label, .selectric-items ul li {
			background-color: $backgroundColor;
			color: #222222;
			font-size: 18px;
		}

		.selectric-items ul li {
			&:hover {
				background-color: #FAFAFA;
			}
		}
	}
}

#first-block {
	p {
		color: #222222;
		font-size: 27px;
		margin-bottom: 35px;
		text-align: center;

		&:first-child {
			margin-top: 40px;
		}
	}
}

#schoolroleother {
	margin-top: 5px;
}

.schoolname {
  position: relative;
}

#schoolnames {
  border: 1px solid #C4C4C4;
  display: none;
  list-style: none;
  max-height: 302px;
  overflow: auto;
  position: absolute;
  width: 410px;
  z-index: 1;

  &.has-values {
    display: block;
  }

  li {
    background-color: $backgroundColor;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #EEE;
    color: #222222;
    cursor: pointer;
    display: block;
    font-size: 18px;
    padding: 8px;

    &:hover {
      background-color: #FAFAFA;
    }
  }
}

input.error {
  border-color: #E74C3C !important;
}

.popup_visible {
  #intro-form, #pledge-name-form {
    @include transform(translateX(0) translateY(0));
  }
}

#pledge-name-form {
  background-color: #FFF;
  border-radius: 10px;
  border: 5px solid #333;
  padding: 15px;

  label {
    float: left;
    margin-right: 10px;
  }

  input {
    border: 0 none;
    border-bottom: 1px solid #333;
    font-weight: normal !important;
    outline: 0;
  }

  div {
    clear: both;
    margin: 5px 0;
  }

  label, input {
    color: #333;
    font-size: 24px;
    font-weight: bold;
  }

  button {
    background-color: #A3CD83;
    border: 0 none;
    border-radius: 10px;
    color: #333;
    display: inline;
    float: right;
    font-size: 22px;
    margin-top: 10px;
    padding: 10px 35px;
  }
}

.interactive-1 {
  position: relative;

  .before, .after {
    background-color: transparent;
    border: 4px solid #7DB2DB;
    border-radius: 10px;
    color: darken(#7DB2DB, 15%);
    font-size: 18px;
    height: 110px;
    padding: 40px 0px;
    position: absolute;
    @include transition(border-color 500ms ease, color 500ms ease);
    top: 20%;
    width: 120px;
  }

  .before {
    left: 104px;
  }

  .after {
    right: 131px;
  }

  .drop-active {
    border-color: #A3CD83;
    color: #A3CD83;
  }
}

.skinny {
  font-family: skinnycaps, Helvetica, Arial, sans-serif !important;
}

.words {
  @include clearfix();
  color: #9B5FA3;
  cursor: grab;
  display: inline-block;
  font-size: 100px !important;
  letter-spacing: -10px;
  position: absolute;
  text-transform: uppercase;
  @include transition-property(font-size, letter-spacing, left, top);
  @include transition-duration(200ms);
  @include transition-timing-function(ease);
  white-space: nowrap;

  br {
    display: none;
  }

  &.mouseover {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }

  &.mousedown {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }

  &.minimize {
    cursor: auto;
    font-size: 20px !important;
    font-weight: bold;
    letter-spacing: 0;
    @include transition-property(font-size, letter-spacing, left, top, transform);
    @include transition-duration(200ms);
    @include transition-timing-function(ease);

    br {
      display: block;
    }

    @include media(em(860)) {
      font-weight: normal;
    }
  }

  &.clone {
    opacity: 0.7;
  }
}

.preload {
  left: 50%;
  @include transform(translateX(-100%));
}

.interactive-2 {
  button {
    background-color: transparent;
    border: 4px solid #7DB2DB;
    border-radius: 10px;
    bottom: 70px;
    color: #7DB2DB;
    height: 85px;
    left: 50%;
    margin: auto;
    position: absolute;
    @include transform(translateX(-50%));
    width: 105px;
  }

  .comment-box {
    height: 100%;
    position: relative;

    &:before, &:after {
      content: '';
      height: 0;
      left: 50%;
      position: absolute;
      @include transform(translateX(-50%));
      width: 0;
      z-index: 1;
    }

    &:after {
      bottom: 38px;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid #FFF;
    }

    &:before {
      bottom: 30px;
      border-left: 27px solid transparent;
      border-right: 27px solid transparent;
      border-top: 27px solid #7DB2DB;
    }
  }

  textarea {
    border: 7px solid #7DB2DB;
    border-radius: 20px;
    bottom: 50px;
    color: #555;
    font-size: 23px !important;
    height: 300px;
    left: 50%;
    outline: 0;
    padding: 5px;
    position: absolute;
    resize: none;
    @include transform(translateX(-50%));
    width: 70%;
  }

  .box {
    float: left;
    height: 100%;
    position: relative;

    span {
      bottom: 270px;
      float: left;
      font-size: 14px;
      font-weight: bold;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      white-space: nowrap;
    }

    .pointer {
      background: url(../images/page31/point.png) no-repeat;
      bottom: 200px;
      left: 50%;
      height: 51px;
      position: absolute;
      transform: translateX(-50%);
      width: 50px;
    }

    &.box-1 {
      width: 210px;

      button {
        @include transform(translateX(-72%));
      }

      textarea {
        @include transform(translateX(-65%));
      }

      .comment-box:before {
        @include transform(translateX(-95%));
      }

      .comment-box:after {
        @include transform(translateX(-110%));
      }

      span {
        transform: translateX(-67%);
      }

      .pointer {
        transform: translateX(-96%);
      }
    }

    &.box-2 {
      width: 332px;
    }

    &.box-3 {
      width: 239px;
    }

    &.box-4 {
      width: 276px;

      button {
        @include transform(translateX(-35%));
      }

      textarea {
        @include transform(translateX(-40%));
      }

      .comment-box:before {
        @include transform(translateX(-20%));
      }

      .comment-box:after {
        @include transform(translateX(-8%));
      }

      span {
        transform: translateX(-39%);
      }

      .pointer {
        transform: translateX(-15%);
      }
    }
  }
}

.interactive-3 {
  ul {
    list-style: none !important;

    li {
      cursor: pointer;
      font-size: 21px;
      font-weight: bold;
      margin-bottom: 30px;
      position: relative;

      &:before {
        background: url(../images/checkbox.png) no-repeat;
        content: '';
        height: 24px;
        left: -35px;
        position: absolute;
        top: 2px;
        width: 23px;
      }

      &.checked:before {
        content: '\2713';
      }
    }
  }
}

.interactive-4 {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  .wrapper {
    height: 100%;
    position: relative;
    width: 100%;
  }

  .skinny {
    height: 1px;
  }

  canvas {
    border-radius: 40px;
    margin: 50px 0 0 50px;
  }

  .buttons {
    bottom: 25px;
    left: 50%;
    position: absolute;
    @include transform(translateX(-50%));
    width: 100%;
  }

  a, button {
    background-color: #A3CD83;
    border: 0 none;
    border-radius: 10px;
    color: #FFF;
    display: inline;
    font-size: 30px;
    padding: 10px 35px;

    &:first-child {
      margin-right: 200px;
    }
  }

  a {
    cursor: pointer;

    &:hover {
      color: #FFF;
    }
  }

  .warning {
    font-size: 60px;
    left: 50%;
    position: absolute;
    top: 50%;
    @include transform(translateX(-50%) translateY(-50%));
  }
}

.video {
  height: 100%;
  max-height: 100% !important;
  max-width: 100% !important;
  position: relative;
  width: 100%;
  z-index: 100 !important;
}
